* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#press {
  position: absolute;
  background-color: #000;
  font-family: "Press Start 2P", cursive;
  height: 100vh;
  width: 100%;
  display: flex;
  color: green;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(99, 96, 99);
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(rgb(6, 243, 85), rgb(0, 130, 9), rgb(0, 42, 9));
  -webkit-background-clip: text; /*what error is this?????*/
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  text-shadow: 4px 0px 0px rgba(0, 0, 0, 0.867);
}

#story {
  font-family: "Carrois Gothic SC", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
  border-style: solid;
  box-shadow: black 5px 5px 5px;
  background: blue;
  height: 40%;
  width: 70%;
}

#description {
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  height: 20%;
  width: 100%;
  color: rgb(242, 244, 244);
}

.button-box {
  /* make buttons in div to be in a row */
  display: flex;
  justify-content: center;

  width: 100%;
  gap: 10px;
}

.button {
  display: flex;
  font-family: "Press Start 2P", cursive;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  padding: 0.7rem;
  margin-top: 8px;
  border-radius: 5px;
  border-style: solid;
  width: 200px;
  height: 100%;
}

.music {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

/* hover effect */
h1:hover {
  animation: glow 1s ease-in-out infinite alternate;
  cursor: pointer;
}

/* glow animation */
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 25px #0f0,
      0 0 60px #0f0, 0 0 70px #0f0;
  }

  to {
    text-shadow: 0 0 15px #fff, 0 0 20px #0f0, 0 0 25px #0f0, 0 0 30px #0f0, 0 0 35px #0f0,
      0 0 70px #0f0, 0 0 80px #0f0;
  }
}

.hidden {
  display: none;
  z-index: -1;
}
